.mainContainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    background-color: brown;
    height: 800px;
}

.screenDiv {
    position: relative;
    width: 100%;
    max-width: 880px;
}

.changeLayout {
    background-color: rgb(101, 216, 201);
    border-radius: 14px 14px 0px 0;
    margin: auto;
    padding-bottom: 2px;
    height: 600px;

}